<h1><%= image_tag("per.png", class: "logo") %>Editing Post</h1>

<%= render 'form', twitt: @twitt %>

<button><%= link_to 'Show', @twitt %> </button>
<button ><%= link_to 'Back', twitts_path %></button>

